<!--<ng-include src="'navbar.html'"></ng-include>-->
<nav-bar navbar-data = 'navbarData'></nav-bar>

<form class='loginForm'>

<h4>Modify friend information</h4>

<!--ng-model directive is the way to tarnsfer data to controller -->
    <input class="form-control" type="text" placeholder="name" ng-model="name"><br/>
    <input class="form-control" type="text" placeholder="address" ng-model='address'><br/>
    <input class="form-control" type="text" placeholder="age" ng-model='age'><br/>
    <input class="btn btn-default" type="button" value="Save" ng-click='savePerson()'>
    
</form>