<ng-include src="'navbar.html'"></ng-include>
<form class='loginForm'>

<h4>Add friend information</h4>

<!--ng-model directive is the way to tarnsfer data to controller -->
    <input class="form-control" type="text" placeholder="name" ng-model='name'><br/>
    <input class="form-control" type="text" placeholder="address" ng-model='address'><br/>
    <input class="form-control" type="text" placeholder="age" ng-model='age'><br/>
    <input class="btn btn-default" type="button" value="Add" ng-click='addPerson()'>
    
</form>